<div class="container text-center mt-5">
<h1>バカ Sensei</h1>
<form action="answer" data-turbo="false">
  <input type="text" name="question" placeholder="Ask away">
  <input type="submit" value="Ask!" class="btn-primary rounded">
</form>
</div>
